<form class="burger-form">
  <h1>Nueva Hamburguesa <button mat-button color="primary" class="burger-send">Enviar &nbsp;&nbsp; <mat-icon>send</mat-icon></button></h1>

  <mat-form-field class="burger-full-width">
    <input name="id" [(ngModel)]="burger._id" matInput placeholder="ID" required>
  </mat-form-field>

  <mat-form-field class="burger-full-width">
    <input name="name" [(ngModel)]="burger.name" matInput placeholder="Nombre" required>
  </mat-form-field>

  <mat-form-field class="burger-full-width">
    <textarea name="description" [(ngModel)]="burger.description" matInput placeholder="Descripción"></textarea>
  </mat-form-field>

  <mat-form-field class="burger-full-width">
    <input name="price" [(ngModel)]="burger.price" matInput placeholder="Precio" type="number" class="burger-right-align" required>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field class="burger-full-width">
    <input name="image" [(ngModel)]="burger.image" type="url" matInput placeholder="Imagen">
  </mat-form-field>

  <img src="{{ burger.image }}" alt="burger image">
</form>